/* 
가장 연함 : #f0fff5
연함 중간 사이 : #d1ffe0
중간 : #deffe9
가장 진함 : #c5edd2
*/

@import url('https://fonts.googleapis.com/css2?family=Jua&display=swap');

*,
*::after,
*::before{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.body_div {
    text-align: center;
    width: 1250px;
    height: 100%;
    margin: 0 auto;
    font-family: 'Jua', sans-serif;
    background-color: #f0fff5;
    border-left: 2px solid #ccc;
    border-right: 2px solid #ccc;
}

.sidebar {
    display: flex;
    position: fixed;
    text-align: center;
    margin: 0 auto;
    top: 40%;
    left: 90%;
    font-family: 'Jua', sans-serif;
    background-color: #f0fff5;
    z-index: 1000;
    width: 140px;
}

.sidediv {
    border: 1px solid #aaa;
    background-color: #deffe9;
    padding: 0px;
}

.sideinput {
    display: flex;
}

.sideinput > p {
    display: inline;
    padding-left: 5px;
    padding-top: 5px;
}

.inputfloor {
    display: inline;
    text-align: right;
    width: 40px;
    height: 25px;
    background-color: white;
    border: 1px solid #ccc;
    padding: 5px 0;
    padding-right: 5px;
    font-weight: bold;
}

.sidetop {
    display: flex;
    margin-top: 3px;
    margin-bottom: 7px;
    padding: 7px;
    align-items: center;
}

.sidebottom > input {
    cursor: pointer;
}

.sidebottom {
    margin-top: 8px;
}

.topbtn {
    transform: rotate(180deg);
    width: 30px;
}

.botbtn {
    width: 30px;
}

.sidebool {
    background-color: white;
    border: 1px solid #ccc;
    margin-left: 10px;
    margin-top: 5px;
    width: 13px;
    height: 13px;
    font-size: 0.6em;
    font-weight: bold;
    cursor: pointer;
}

.sidebotbool {
    display: flex;
    justify-content: center;
    border-top: 1px solid #aaa;
    margin-top: 10px;
    background-color: #c5edd2;
    padding: 3px;
}

.sidetitle > h1 {
    border-bottom: 1px solid #aaa;
    padding-top: 5px;
    background-color: #c5edd2;
    font-size: 1.3em;
}

.sidetitle {
    cursor: move;
}

.searchbtn {
    background-color: white;
    border: 1px solid #ccc;
    padding: 3px;
    margin-left: 5px;
}

.topbar > img{
    width: 50px;
    position: relative;
    left: 194px;
}

li{
    list-style-type: none;
}

.topbar{
    display: flex;
    background-color: #d1ffe0;
    height: 110px;
    justify-content: center;
    align-items: center;
}

.topbar > *{
    margin: 0 10px;
}

.topbar-ul > *{
    display: flex;
}

.topbar-ul > * > *{
    margin: 0 10px;
    flex: 1;
    width: 100px;
}